#card {
    position: relative;
    margin: 10px;
    border: 2px solid var(--local-white);
    height: var(--card-height);
    box-shadow: var(--component-shadow);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-radius: 25px;
    overflow: hidden;
    animation-duration: 4ms;
}
  #forhover {
    position: relative;
    width:100%;
    height: 100%;
    background-color: var(--local-white);
    z-index: 21;
  }