#card {
    position: relative;
    margin: 10px;
    border: 5px solid #f6f6f6;
    height: 160px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-radius: 25px;
    overflow: hidden;
    animation-duration: 50ms;

    /* this z-index might be the only solution, but it prevents hover from working */
    /* z-index: -10; */
}
/* Card */
#card:hover {
    top: -5px;
  }
  #forhover {
    position: relative;
    width:100%;
    height: 100%;
    background-color: #fff;
    z-index: 21;
    opacity: 0%;
  }
  #forhover:hover {
    opacity: 50%;
  }