#card {
    position: relative;
    margin: 10px;
    border: 5px solid #fff;
    height: 160px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-radius: 25px;
    overflow: hidden;
}