#card {
    position: relative;
    margin: 10px;
    border: 2px solid var(--content-window-colour);
    height: var(--card-height);
    box-shadow: var(--component-shadow);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-radius: 25px;
    overflow: hidden;
}
/* Card */
#card:hover {
    top: -5px;
  }
  #forhover {
    position: relative;
    width:100%;
    height: 100%;
    background-color: #fff;
    z-index: 21;
    opacity: 0%;
  }
  #forhover:hover {
    opacity: 50%;
  }