/* FONTS */
@font-face {
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/hammersmithone/v12/qWcyB624q4L_C4jGQ9IK0O_dFlnrtRElkYABXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

#cv_content {
    box-sizing: border-box;
    margin: 130px 0 40px 0;
    padding: 20px;
    min-height: calc(100vh - 220px);
    background-color: #e7e7e7;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.100), 15px 15px 25px rgba(0, 0, 0, 0.200);
    border-radius: 30px;
    width: 800px;
}
#cv_content h1, #cv_content h2, #cv_content p {
    color: rgb(70, 175, 144);
}
#cv_content h1 {
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 2.6rem;
}
#cv_content h2 {
    font-size: 1.3rem;
    line-height: initial;
}
#cv_content p {
    padding: 5px 0;
    color:rgb(34, 30, 30);
}
