#misc_content {
    box-sizing: border-box;
    margin: 130px 0 40px 0;
    padding: 20px;
    min-height: calc(100vh - 220px);
    width: 800px;
}
.on_paper h1, .on_paper h2, .on_paper p {
    color: rgb(70, 175, 144);
}
.on_paper h1 {
    font-family: var(--cv-heading-font), sans-serif;
    text-transform: uppercase;
    padding: 0;
    font-size: 2.6rem;
}
.on_paper h2 {
    font-size: 1.2rem;
    line-height: initial;
}
.on_paper p {
    padding: 5px 0;
    color:rgb(34, 30, 30);
}
