#cv_content {
    box-sizing: border-box;
    margin: 130px 0 40px 0;
    padding: 20px;
    min-height: calc(100vh - 220px);
    background-color: var(--content-window-colour);
    box-shadow: var(--component-shadow);
    width: 800px;
}
#cv_content h1, #cv_content h2, #cv_content p {
    color: rgb(70, 175, 144);
}
#cv_content h1 {
    font-family: var(--cv-heading-font), sans-serif;
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 2.6rem;
}
#cv_content h2 {
    font-size: 1.3rem;
    line-height: initial;
}
#cv_content p {
    padding: 5px 0;
    color:rgb(34, 30, 30);
}
