/* NavBar */
#header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #232323;
    height: 90px;
    margin: 0;
    width: 100%;
    min-width: 340px;
    align-items: center;
  }

  #header a {
    display: flex;
    
  }
  .link {
    position: relative;
    color: #E7E7E7;
    text-decoration: none;
  }
  .activeLink {
    top: -10px;
  }
  #header h1 {
    color: #E7E7E7;
  }
  #titleMainNav {
    display: flex;
  }
  #header ul {
    color: #E7E7E7;
    margin: 0 0 0 30px;
    font-family: 'Poppins';
    font-weight: 300;
  }
  #navList {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding-left: 0;
  }
  #navList li {
    display: inline-flex;
    margin: 0 40px 0 0;
    padding-left: 10px;
    align-items: center;
  }
  #navList2 {
    padding: 0 0 0 30px;
    display: inline-flex;
  }
  #navList2 li {
    margin: 0 40px 0 0;
    list-style: none;
  }
.listItem {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px 0 10px;
  }

/* Responsiveness */
@media only screen and (max-width: 1600px) {
  #header {
    max-width: 1600px;
  }
}
@media only screen and (max-width: 1366px) {
  #header {
    max-width: 1366px;
  }
  .listItem {
    height: 27px;
    width: 27px;
  }
}
@media only screen and (max-width: 1100px) {
  #header {
    height: 60px;
  }
  #navList li {
    margin: 0;
  }
}
@media only screen and (max-width: 1067px) {
  #header {
    max-width: 1067px;
  }
  .listItem {
    height: 25px;
    width: 25px;
  }

}
@media only screen and (max-width: 768px) {
  #header {
    max-width: 768px;
  
  }
}
@media only screen and (max-width: 520px) {
  #header {
    max-width: 520px;
  }
  #header h1 {
    padding: 0 15px 0 15px;
  }
  .listItem {
    height: 20px;
    width: 20px;
  }
  #navList li {
    padding: 0;
  }
  #header ul {
    margin: 0 0 0 5px;
  }
  #navList2 li {
    font-size: 0.85rem;
  }
}
@media only screen and (max-width: 375px) {
  #header {
    max-width: 375px;
  }
  .listItem {
    height: 17px;
    width: 17px;
  }
  ul #navlist2 {
    padding: 0;
  }
  #navList2 li {
    margin: 0 10px 0 0; 
  }
}
@media only screen and (max-width: 320px) {
  #header {
    max-width: 320px;
  }
}