/* NavBar */
#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #232323;
    height: 90px;
    margin: 0;
    width: 100%;
    /* line-height: 90px; */
    align-items: center;
    z-index: 20;
  }
  #header a {
    display: flex;
    
  }
  .link {
    position: relative;
    color: #E7E7E7;
    text-decoration: none;
  }
  .activeLink {
    top: -10px;
  }
  #header h1 {
    color: #E7E7E7;
  }
  #titleMainNav {
    display: flex;
  }
  #header ul {
    color: #E7E7E7;
    margin: 0 0 0 30px;
    font-family: 'Poppins';
    font-weight: 300;
  }
  #navList {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding-left: 0;
  }
  #navList li {
    display: inline-flex;
    margin: 0 40px 0 0;
    padding-left: 10px;
    align-items: center;
  }
  #navList2 {
    padding: 0 0 0 30px;
    display: inline-flex;
  }
  #navList2 li {
    margin: 0 40px 0 0;
    list-style: none;
  }
.listItem {
    height: 33px;
    width: 33px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px 0 10px;
  }


/* Responsiveness */
  @media screen and (max-width: 1366px) {
    #header {
      max-width: 1366px;
    }
    .listItem {
      height: 25px;
      width: 25px;
    }
  }
  @media only screen and (max-width: 1024px) {
    #header {
      width: 1024px;
    }
    .listItem {
      height: 25px;
      width: 25px;
    }
    #navList li {
      margin: 0;
    }
  }
  @media only screen and (max-width: 768px) {
    #header {
      width: 768px;
    }
    .listItem {
      height: 25px;
      width: 25px;
    }
  }