#imageViewImage {
    min-height: 200px;
    object-fit: contain;
    border-radius: 20px;
    overflow: scroll;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader div {
    width: 24px;
    height: 24px;
    margin: 10px;
    border-radius: 12px;
    background-color: var(--local-black);
    animation: bouncer 500ms cubic-bezier(.59,.61,.43,.98) infinite alternate;
}

.loader div:nth-child(2) {
    animation-delay: 150ms;
}
.loader div:nth-child(3) {
    animation-delay: 300ms;
}

@keyframes bouncer {
    from { transform: translateY(0) }
    to { transform: translateY(-50px) }
}