#lightbox-container {
    top: 0;
    left: 0;
    position: fixed;
    display: inline-flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
#lightbox-content {
    box-sizing: border-box;
    margin: 30px;
    display: flex;
    flex-direction: column;
    background-color: var(--local-white);
    width: 800px;
    height: 70vh;
    z-index: 100;
    overflow: scroll;
    border: 15px solid var(--local-white);
    border-radius: var(--content-border-radius);
    color: var(--local-black);
}
#blackout {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 14%, 50%);
    z-index: 90;
    cursor: url('../images/close_button.svg'), auto;
}