#lightbox-container {
    /* background-color: lemonchiffon; */
    top: 0;
    left: 0;
    position: fixed;
    display: inline-flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
#lightbox-content {
    box-sizing: border-box;
    margin: 30px;
    display: flex;
    flex-direction: column;
    /* background-color: khaki; */
    background-color: #F4F4F4;
    width: 800px;
    height: 70vh;
    z-index: 100;
    /* padding: 30px 15px; */
    overflow: scroll;
    border: 15px solid #F4F4F4;
    border-radius: 20px;
}
#blackout {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 90;
    background-color: #000;
    opacity: 0.5;
}