/* Content and Lightbox Wrapper */
#wrapper {
  /* no position because it would affect the z-index and the content inside can't be clicked */
  display: flex;
  justify-content: center;
}
/* Content */
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: calc(100vh - 180px);
  margin-top: 110px;
  padding-bottom: 20px;
  width: 1600px;
}
#welcome_note {
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: var(--component-shadow);
  width: 100%;
  margin: 20px 400px;
  padding: 20px 50px;
  background-color: var(--content-window-colour);
  color: var(--alt-heading-colour);
}
#welcome_note h2 {
  font-family: var(--cv-heading-font);
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.9rem;
  padding: 5px 0;
  color: hsl(274, 25%, 60%);
  letter-spacing: 0.25rem;
}
#close_button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  height: 15px;
  width: 15px;
  color: grey;
  cursor: pointer;
}
/* Footer */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #7992C1;
  color: var(--content-window-colour);
}
/* Responsiveness */
@media only screen and (max-width: 1600px) {
  .content {
    width: 1200px;
  }
  #welcome_note {
    margin: 20px 200px;
  }
}
@media only screen and (max-width: 1366px) {
  .content {
    width: 1000px;
    top: 0;
  }
  #welcome_note {
    margin: 20px 100px;
  }
}
@media only screen and (max-width: 1100px) {
  .content {
    margin-top: 80px;
    min-height: calc(100vh - 150px);
    width: 800px;
  }
}
@media only screen and (max-width: 880px) {
  .content {
    width: 600px;
  }
  #welcome_note {
    margin: 20px 50px;
  }
  #welcome_note h2 {
    font-size: 1.7rem;
  }
  #welcome_note h3 {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 670px) {
  .content {
    width: 450px;
    min-height: calc(100vh - 130px);
  }
  #footer {
    height: 30px;
    line-height: 30px;
  }
  #welcome_note h2 {
    font-size: 1.5rem;
  }
  #welcome_note h3 {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 452px) {
  #welcome_note {
    padding: 20px;
  }
  #welcome_note h2 {
    padding: 0;
  }
}
@media only screen and (max-width: 375px) {
  .content {
    width: 375px;
  }

}